.nav{
    display:flex;
    flex-direction: column;
    width:15%;
    height:100vh;
    background-color: $pink;
    transition: background-color 1s ease;
    a{
        text-decoration: none;
        color: $white;
        height: 60px;
        text-align: center;
        border: 1px solid lighten($pink,10);
        line-height: 60px;
        font-weight:700;
        font-size:20px;
        &:hover{
            background-color: darken($pink,20);
            transition: background-color 1s ease;
        }
        &:focus{
            background-color: darken($pink,20);
        }

    }
}

.main{
    display:flex;
    justify-content: stretch;
  
  }