@import '../../Sass/common/mixins';

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width:85%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.display-block {
    display: flex;
    justify-content: center;
    padding-top:45px;
}

.display-none {
    display: none;
}

.addAct{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
    height:300px;
    background-color: $white;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $pink;
        width:100%;
        height:80px;
        h2{
            padding-left:50px;
            color:$white;
            font-size:28px;
        }
        button{
        background: transparent;
        margin-right:35px;
        font-size:20px;
        color: $grey;
        border:none;
        &:hover{
            transform: scale(1.5);
            cursor:pointer;
        }
        }
    }
    form{
        display:flex;
        flex-direction:column;
        width: 50%;
        label{
            width:100%;
            margin:10px;
            display: flex;
            justify-content: space-between;

        };
        svg{
            font-size:18px;
            padding: 6px;
            border-radius:50%;
            background-color: $pink;
            color: $white;
        };
        input{
            width:220px;
            border-radius: 20px;
            border-style: outset;
            border-color: $pink;
            border-width: 1px;
            height:28px;
            padding-left:10px;
            margin-left:5px;
        }
        select{
            border-radius: 20px;
            border-style: outset;
            border-color: $pink;
            width: 55px;


        }
        #time{
            width:155px;
            margin-left: 18px;
        }
    }
    footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: $pink;
        width:100%;
        height:65px;
        button{
            width:80px;
            background-color: $green;
            margin-right: 20px;
            height: 40px;
            border-radius:20px;
            font-size:12px;
            text-align:center;
            color: $white;
            font-weight:700;
            border: none;
            padding:10px;
            transform: background-color 2s ease;
            box-shadow: 1px 5px darken($green,20);;
            &:hover{
                background-color: darken($green,20);
                transform: background-color 2s ease;
                cursor:pointer;
            }
            &:active{
                background-color: darken($green,20);
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }
    }
   
}

@include tablet{
    .modal{
        width:100%;
    }
    .addAct{
        width:85%;
    }
}

@include phone{
    .modal{
        width:100%;
    }
    .addAct{
        width:85%;
    }
}