@import '../../Sass/common/mixins';

.home{
    display:flex;
    align-items: center;
    justify-content: center;
    width:85%;
    flex-direction:column;
    background-color: lighten($yellow,10);
    h1,h2{
        color: $white;
        text-shadow: 2px 3px 2px #474747;
    }
}

@include tablet{
    .home{
        width:100%;
        overflow: hidden;
    }
}


@include phone{
    .home{
        width:100%;
        overflow: hidden;
    }
}